/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */

header {
    padding: 10px 0 10px 40px;
    height: 80px;
}



figure img {
    width: 200px;
}

section {
    margin-bottom: 20px;
}



figcaption {
    line-height: 2;
}

/* contenitore */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* riga */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 -10px;

}

/* carta */

.card {
    padding: 0 10px;
    width: 250px;
}

/* contenitore per l'etichetta */

.category {
    padding: 5px 10px;
}